@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("/font-awesome-4.6.3/css/font-awesome.min.css");
:root {
  --color-primary-blue: #003366;
  --color-primary-orange: #d96e30;
  --color-primary-smoke: #3b3b38;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.6;
  background-color: var(--color-primary-smoke); }

.header {
  width: 100%;
  background-color: #fff; }

.upper-nav {
  width: 100%;
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 991px) {
    .upper-nav {
      flex-wrap: wrap;
      padding: 1rem 0;
      justify-content: stretch; } }

nav {
  background-color: var(--color-primary-blue); }
  @media screen and (max-width: 550px) {
    nav {
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--color-primary-blue);
      top: 6rem;
      left: 0;
      transition: all .5s; } }
  nav.active {
    left: -100%; }

.banner {
  width: 100%;
  height: 30rem;
  position: relative;
  z-index: -1; }
  .banner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: linear-gradient(to right bottom, rgba(0, 51, 102, 0.2), rgba(217, 110, 48, 0.2)); }
  .banner__image {
    width: 100%;
    height: 30rem; }
    @media screen and (max-width: 550px) {
      .banner__image {
        height: auto; } }

.courses {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 8rem; }

.footer {
  width: 100%;
  min-height: 30vh; }

.bar {
  margin-left: 4rem;
  display: flex;
  align-items: center;
  visibility: hidden; }
  .bar__icon-bar {
    height: 3.5rem;
    width: 3.5rem; }
  @media screen and (max-width: 550px) {
    .bar {
      visibility: visible;
      margin-left: 1rem; } }

.logo {
  background-color: #c2df5b;
  height: 2.5rem;
  margin-left: -3.5rem; }
  @media screen and (max-width: 550px) {
    .logo {
      margin: 0 auto; } }

.search {
  flex: 0 0 60%;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 550px) {
    .search {
      display: none;
      order: 1; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 30%;
    transition: all .2;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 50%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon-search {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user {
  color: var(--color-primary-blue);
  margin-right: 6rem; }
  @media screen and (max-width: 550px) {
    .user {
      margin-right: 0; } }
  .user > * {
    font-size: 1.4rem;
    text-decoration: none;
    color: currentColor;
    padding: 2px 8px; }
    .user > *:hover {
      color: var(--color-primary-orange);
      cursor: pointer; }

.courses__row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center; }

.card {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%; }
  .card__image {
    width: 30rem;
    height: 20rem;
    border-radius: 2rem; }

.footer-upper {
  background-color: var(--color-primary-orange);
  min-height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-upper__content {
    height: inherit;
    width: 100%;
    padding: 4rem 8rem; }

.content-right {
  margin-left: 8rem;
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 100; }
  .content-right ul {
    list-style: none; }
    .content-right ul li:first-child {
      text-transform: uppercase;
      font-size: 1.7rem;
      font-weight: bold;
      letter-spacing: .2rem;
      margin-bottom: 1rem; }
  .content-right a:link,
  .content-right a:visited {
    color: #fff;
    text-decoration: none; }

.content-left {
  margin-right: 8rem;
  text-align: right; }
  .content-left__logo {
    width: 60%; }
  .content-left__address {
    font-size: 1.2rem;
    font-weight: normal;
    color: #fff; }

.footer-lower {
  height: 8rem;
  background-color: var(--color-primary-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-grey-light-2); }
  .footer-lower__legal {
    margin-left: 8rem; }
  .footer-lower__social-box {
    margin-right: 8rem; }

.social {
  display: flex;
  justify-content: center;
  align-items: center; }
  .social > * {
    margin-left: .5rem; }
  .social__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff; }

.navigation {
  display: flex;
  margin-left: 8rem; }
  @media screen and (max-width: 550px) {
    .navigation {
      margin-left: 0;
      flex-direction: column;
      left: 0; } }
  .navigation li {
    list-style: none;
    position: relative;
    background-color: var(--color-primary-blue); }
  .navigation > li:hover ul > li {
    display: block;
    top: 0;
    background-color: #004166; }
  .navigation .dropdown .dropdown2 {
    display: none; }
  .navigation .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column; }
    @media screen and (max-width: 555px) {
      .navigation .dropdown {
        position: relative; } }
    .navigation .dropdown li {
      display: none; }
      .navigation .dropdown li:last-child {
        border-bottom: 4px solid var(--color-primary-orange); }
      .navigation .dropdown li:hover .dropdown2 {
        position: absolute;
        top: 0;
        left: 100%;
        display: flex;
        flex-direction: column; }
        @media screen and (max-width: 555px) {
          .navigation .dropdown li:hover .dropdown2 {
            position: relative;
            left: 0; } }
  .navigation a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: normal;
    color: #fff;
    height: 3rem;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 550px) {
      .navigation a {
        width: 100%;
        height: 6rem; } }
    .navigation a:hover {
      cursor: pointer;
      background-color: var(--color-primary-orange); }
    .navigation a:not(:only-child):after {
      color: #fff;
      content: '\25BE';
      margin-left: 1rem; }
